@model List<FitnessTicketApp.Models.Domain.BerletTipus>
@{
}


@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-warning">
		<strong>Failed!</strong>@TempData["AlertMessage"]
	</div>
}
@if (TempData["Succes"] != null)
{
	<div class="alert alert-succes">
		<strong>Succes!</strong>@TempData["Succes"]
	</div>
}
<h1>Berlet Tipusok</h1>
<table class="table" id="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Megnevezes</th>
			<th>Ar</th>
			<th>Hany napig ervenyes</th>
			<th>Hany belepesre ervenyes</th>
			<th>Torolve</th>
			<th>Terem id</th>
			<th>Hanyoratol</th>
			<th>Hanyoraig</th>
			<th>Naponta hanyszor hasznalhato</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var berlet in Model)
		{
			<tr>
				<td>@berlet.Id</td>
				<td>@berlet.Megnevezes</td>
				<td>@berlet.Ar</td>
				<td>@berlet.HanyNapigErvenyes</td>
				<td>@berlet.HanyBelepesreErvenyes</td>
				<td>@berlet.Torolve</td>
				<td>@berlet.Terem_Id</td>
				<td>@berlet.Hanyoratol</td>
				<td>@berlet.Hanyoraig</td>
				<td>@berlet.NapontaHanyszorHasznalhato</td>
				<td><a href="BerletTipus/View/@berlet.Id">View</a>
					<a href="BerletTipus/Delete/@berlet.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<button type="button" class="btn btn-primary" onclick="exportTableToExcel()">Export to Excel</button>
<script>
	function exportTableToExcel() {
		var downloadLink;
		var dataType = 'application/vnd.ms-excel';
		var table = document.getElementById('table');
		var tableHTML = table.outerHTML.replace(/ /g, '%20');
		// Specify file name
		var filename = 'exported_table.xls';
		// Create download link element
		downloadLink = document.createElement("a");
		document.body.appendChild(downloadLink);
		if (navigator.msSaveOrOpenBlob) {
			var blob = new Blob([tableHTML], {
				type: dataType
			});
			navigator.msSaveOrOpenBlob(blob, filename);
		} else {
			// Create a link to the file
			downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
			// Setting the file name
			downloadLink.download = filename;
			//triggering the function
			downloadLink.click();
		}
	}
</script>